{% extends 'partials/base.html' %}
{% include "partials/navbar.html" %}

{% block content %}

<form class='form' method="POST" action="#">

<h1>{{title}}</h1>
    {{ form.hidden_tag()}}
    {{ form.title.label(class="form-label")}}{{form.title(class='form-control',value=film.title)}}
    <br>
    {{ form.release_Date.label(class="form-label")}}{{form.release_Date(class='form-control',value=film.release_date)}}
    <br>
    {{ form.country_created_in.label(class="form-label")}}{{form.country_created_in(class='form-control',value=country)}}
    <br>
    {{ form.category.label(class="form-label")}}{{form.category(class='form-control',value=film.categories[0].name)}}
    <br>
    {{form.submit(class="btn btn-success")}}
</form>
{% endblock %}

