{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category,message in messages %}
    <p> {{category}} {{message}}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<div>
	first block!
	{% for user in users.query.all() %}
	<p>{{user}}</p>
	{% endfor %}
</div>

<div>
	second block!
	{% for user in users.query.all() %}
	{% if user.city == 'Roscoeview' %}
	<p>{{user}}</p>
	{% endif %}
	{% endfor %}
</div>

<div>
	third block!
	{% for user in users.query.limit(5) %}
	<p>{{user}}</p>
	{% endfor %}
</div>


<div>
	fourth block!
	{% for user in users.query.filter(users.zipcode.like('5%')) %}
	<p>{{user}}</p>
	{% endfor %}
</div>


{% endblock %}
