{% extends 'base.html'%}

{% block content %}
<h1>Emmanuel Rokah</h1>
<img src="\static\image.jpg" alt="#">
<ul>Hobbbies:
    <li>Watching football</li>
    <li>Playing Video Games</li>
    <li>Jogging</li>
</ul>

<ul>Skills:
    <li>Web Development</li>
    <li>Data Engineering</li>
    <li>Rubix Cube Solving</li>
</ul>

<ul>Strengths:
    <li>Team Player</li>
    <li>Analytic thinker</li>
    <li>Problem solver</li>
</ul>

<ul>Weaknesses:
    <li>Over work can cause mistakes before fully integrated</li>
    <li>Say whats on my mind</li>
</ul>
{% endblock %}

