{% extends 'partials/base.html' %}
{% include "partials/navbar.html" %}

{% block content %}
<form class='form' method="POST" action="#">

<h1>{{title}}</h1>
    {{ form.hidden_tag()}}
    {{ form.first_name.label(class="form-label")}}{{form.first_name(class='form-control', value=director.first_name)}}
    <br>
    {{ form.last_name.label(class="form-label")}}{{form.last_name(class='form-control', value=director.last_name)}}
    <br>
    {{form.submit(class="btn btn-success")}}
</form>

{% endblock %}

